@model IEnumerable<ProfProPartage.ViewModel.ViewModelFicheCours>
@using ProfProPartage.Helper

<script>
    var indexFiche = 0;
</script>
@foreach (var item in Model)
{
    <div class="box PDFViewerButton @MyHelpers.FormatDataView(item.Theme) @MyHelpers.FormatDataView(item.Matiere) @MyHelpers.FormatDataView(@item.Niveau)" data-toggle="modal" idFiche=@item.Id data-src=@item.UrlPDF title=@MyHelpers.FormatDataView(@item.Titre) niveau=@MyHelpers.FormatDataView(item.Niveau) theme=@MyHelpers.FormatDataView(item.Theme) matiere=@MyHelpers.FormatDataView(item.Matiere) Temperature=@item.Temperature DateAjout=@item.DateAjout Description=@item.Description NombreTelechargement=@item.NombreTelechargement UserName=@item.User.UserName UserId=@item.UserId data-target="#PDFViewer">
        <div class="demo-title">@Html.DisplayFor(modelItem => item.Titre)</div>
        <div class="post-module">
            <div class="apercu">
                <div class="ribbonTemp"><span>@Html.DisplayFor(modelItem => item.Temperature)°</span></div>
                <img src=@item.UrlJPG />
            </div>
            <div class="post-content">
                <div class="category">@Html.DisplayFor(modelItem => item.Niveau)</div>
                <h1 class="title">@Html.Replace(item.Matiere, "_", " ")</h1>
                <h2 class="sub_title">@Html.Replace(item.Theme, "_", " ")</h2>
                <p class="description">@Html.DisplayFor(modelItem => item.Description)</p>
                <div class="post-meta"><span class="timestamp"><i class="fa fa-clock-o"></i> 6 mins ago</span><span class="comments"><i class="fa fa-comments"></i><a href="#"> 39 comments</a></span><span class="author"><i class="fa fa-user"></i><a href="#" class="userName">@Html.DisplayFor(modelItem => item.User.UserName)</a></span></div>
            </div>
        </div>
    </div>

    <script>
        indexFiche++;
        if (indexFiche % 4 == 0) {
            $("#indicateur").append("<div class='indicateurTemp'><div class='example-date'><span class='day'>31</span> <span class='month'>July</span><span class='year'>2009</span></div></div>")
        }
    </script>
}
