@model ProfProPartage.ViewModel.ViewModelFicheCoursInvalideList
@{
    ViewData["Title"] = "Panneau d'administration";
}

<div id="title" class="main-title"><h1><strong style="color:#E95325;">P</strong>anneau d'administration - Gestion du site et du contenu</h1></div>
<div class="block-breadcrumb">
    <div class="horizontal-scroll">
        <ul class="breadcrumb">
            <li><a href="/Home/Dashboard"><i class="icon ic-breadcrumb-dashboard"></i>Tableau de bord</a></li>
            <li class="active">Panneau d'administration - Gestion du site et du contenu</li>
        </ul>
    </div>
</div>
</br>

<ul class="nav nav-tabs">
    <li>@Html.ActionLink("Gestion des fiches invalides", "", "", new { data_toggle = "tab", href = "#FicheInvalide" })</li>
    <li>@Html.ActionLink("Gestion des news", "", "", new { data_toggle = "tab", href = "#GestionDesNews" })</li>
</ul>
<div class="tab-content">
    <div id="FicheInvalide" class="tab-pane active">
        <h3>Gestion des fiches en attentes de validation</h3>
        <div class="content-listFiche">
            <div class="col-md-12">
                <div id="Filter">
                    <div id="contentFilter">
                        <div class="spacer"></div>
                        <div id="checkboxSelectComboNiv"></div>
                        <div id="checkboxSelectComboMat"></div>
                        <div id="checkboxSelectComboThe"></div>

                        <div id="itemData">
                            <div id="table">
                                <ul id="tableNiv" class="tableSelected"></ul>
                                <ul id="tableMat" class="tableSelected"></ul>
                                <ul id="tableThe" class="tableSelected"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div id="parent">
                    @Html.Partial("listFicheInvalide", Model.ListFic)
                </div>
                <div class="spacer"></div>

                <div class="modal fade" id="PDFViewer" tabindex="-1" role="dialog" aria-labelledby="PDFViewerLabel" aria-hidden="true" style="display: none;">
                    <div id="PDFDialog" class="modal-dialog">
                        <div id="PDFModal" class="modal-content" style="height: 543px;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="PDFViewerLabel">eval</h4>
                            <div class="modal-body">
                                <div class="tabs tabs-style-linetriangle">
                                    <nav>
                                        <ul>
                                            <li class="tab active">
                                                <a href="#pdfDoc" data-toggle="tab">
                                                    <span class="ic-container"><i class="fa fa-file-pdf-o"></i></span>
                                                    <span>Fiche PDF</span>
                                                </a>
                                            </li>
                                            <li class="tab">
                                                <a href="#pdfData" data-toggle="tab">
                                                    <span class="ic-container"><i class="fa fa-pie-chart"></i></span>
                                                    <span>Métadonnées</span>
                                                </a>
                                            </li>
                                            <li class="tab">
                                                <a href="#pdfAuthor" data-toggle="tab">
                                                    <span class="ic-container"><i class="fa fa-vcard"></i></span>
                                                    <span>Description</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="modal-header">
                                    <div id="wrap">
                                        <div class="tab-content">
                                            <div id="pdfDoc" class="tab-pane active">
                                                <div id="IframePDF">
                                                    <iframe></iframe>
                                                </div>
                                            </div>
                                            <div id="pdfData" class="tab-pane">
                                                <div id="dataPDF"></div>
                                            </div>
                                            <div id="pdfAuthor" class="tab-pane">
                                                <div id="contentPDF"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="footerPDF">
                                <button type="button" class="btn btn-danger" onclick="javascript: RefuserFicheInvalide();">Refuser</button>
                                <button type="button" class="btn btn-success" onclick="javascript: ValiderFicheInvalide();">Valider</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
    <div id="GestionDesNews" class="tab-pane">
        <h3>Gestion des news du site</h3>
        <div class="content-news">
            <div class="col-md-12">
                <br />
                <h3 style="text-align:center;">En cours de développement...</h3>
                <br />
            </div>
        </div>
    </div>
</div>

<script>
    function ValiderFicheInvalide() {
        var id = idF;
        $.ajax({
            url: '@Url.Action("ValiderFicheInvalide", "Admin")',
            type: 'POST',
            dataType: 'json',
            cache: false,
            data: { id: id },
            success: function (idR) {
                idf = null;
                $('*[idfiche="' + idR + '"]').remove();
            }
        });
    }

    function RefuserFicheInvalide() {
        var id = idF;
        $.ajax({
            url: '@Url.Action("RefuserFicheInvalide", "Admin")',
            type: 'POST',
            dataType: 'json',
            cache: false,
            data: { id: id },
            success: function (idR) {
                idf = null;
                $('*[idfiche="' + idR + '"]').remove();
            }
        });
    }
</script>