<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProfProPartage</title>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/blueimp-gallery.css" />
    <link rel="stylesheet" href="~/Content/blueimp-gallery-indicator.css" />
    <link rel="stylesheet" href="~/Content/blueimp-gallery-video.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/jquery.fileupload.css" />
    <link rel="stylesheet" href="~/Content/jquery.fileupload-ui.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/ppp.ico" />
    <link rel="stylesheet" href="~/Content/layout.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!--<link href="https://cdn-na.infragistics.com/igniteui/latest/css/themes/infragistics/infragistics.theme.css" rel="stylesheet"/>-->
    <link href="https://cdn-na.infragistics.com/igniteui/latest/css/structure/infragistics.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/Scripts/jquery-3.2.1.js"></script>
</head>
<body>
    <header class="header">
        <nav class="nav-top">
            <ul class="nav-top-list nav-top-left">
                <li class="nav-top-item">
                    <button class="collapsed navbar-toggle" data-target="#navMain" data-toggle="collapse" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </li>
                <li class="nav-top-item">
                    <a class="nav-top-link" href="dashboard.html">
                        <span class="logo" title="Leasecom une filiale du Crédit Mutuel AREKEA"></span>
                    </a>
                </li>
            </ul>
            <ul class="nav-top-list nav-top-right">
                @Html.Partial("_LoginPartial")
                <li class="nav-top-item">
                    <a class="nav-top-link" data-toggle="modal" data-target="#searchModal"><i class="icon ic-search"></i></a>
                </li>
                <li class="nav-top-item partner-area visible-desktop">
                    <a id="dlProfile" class="nav-top-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span>Espace partenaire</span>
                        <em>Leasecom On Line</em>
                        <i class="icon ic-arrow-down"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dlProfile">
                        <li>
                            <a href="#">
                                <span>Espace client</span>
                                <em>Lease &amp; manage</em>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        <nav class="nav-main collapse" aria-expanded="false" id="navMain">
            <a class="logo visible-desktop" href="/Home/Index" title="Accueil"></a>
            <ul class="nav-main-tabs">
                <li><a class="active" href="#">Espace partenaire</a></li>
                <li><a href="#">Espace locataire</a></li>
            </ul>
            <ul class="nav-main-list">
                <li class="nav-main-item current">
                    <a class="nav-main-link" href="/Home/Index">
                        <span class="ic-container"><i class="icon ic-dashboard"></i></span>
                        <span class="link-text">Accueil</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link" href="/FicheCours/Import">
                        <span class="ic-container"><i class="icon ic-my-business"></i></span>
                        <span class="link-text">Importer des fiches</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link" href="/FicheCours/MesFiches">
                        <span class="ic-container"><i class="icon ic-my-contracts"></i></span>
                        <span class="link-text">Mes fiches</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link" href="/Account/MesStatistiques">
                        <span class="ic-container"><i class="icon ic-my-statistics"></i></span>
                        <span class="link-text">Mes statistiques</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link" href="/Home/About">
                        <span class="ic-container"><i class="icon ic-documentation"></i></span>
                        <span class="link-text">A propos</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link" href="/Home/Contact">
                        <span class="ic-container"><i class="icon ic-contact"></i></span>
                        <span class="link-text">Contact</span>
                    </a>
                </li>
                <li class="nav-main-item">
                    <a class="nav-main-link" href="/Home/Help">
                        <span class="ic-container"><i class="icon ic-help"></i></span>
                        <span class="link-text">Aide</span>
                    </a>
                </li>
                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                <li class="nav-main-item">
                    <a class="nav-main-link" href="@Url.Action("AdminPanel", "Admin", null)">
                        <span class="ic-containerh"><i class="icon ic-club"></i></span>
                        <span class="link-text">Panneau d'administration</span>
                    </a>
                </li>
                }
                </ul>
        </nav>
    </header>

    <!-- Search Modal -->
    <div class="modal fade block-search-modal" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="icon ic-close"></i></button>
                    <div id="search">
                        <input class="search-field typeahead" type="text" id="searchKeyword" placeholder="Rechercher" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Search Modal -->
    <section class="wrapper">
        @RenderBody()
    </section>
    <footer class="footer">
        <div class="content">
            <a href="#"><img class="logo-credit-mutuel" src="Content/img/logo-credit-mutuel.png"></a>
            <ul class="footer-links">
                <li><a href="#" target="_blank">Site Leasecom</a></li>
                <li><a href="#" target="_blank">Site Partenaires</a></li>
                <li><a href="#" target="_blank">Site Locataires</a></li>
            </ul>
            <ul class="social-networks">
                <li><a class="social-network-link" title="Linked in" href="#"><i class="icon ic-linkedin"></i></a></li>
                <li><a class="social-network-link" title="Tweeter" href="#"><i class="icon ic-tweeter"></i></a></li>
                <li><a class="social-network-link" title="Viadeo" href="#"><i class="icon ic-viadeo"></i></a></li>
                <li><a class="social-network-link" title="Google+" href="#"><i class="icon ic-google-plus"></i></a></li>
                <li><a class="social-network-link" title="Facebook" href="#"><i class="icon ic-facebook"></i></a></li>
                <li><a class="social-network-link" title="Youtube" href="#"><i class="icon ic-youtube"></i></a></li>
            </ul>
        </div>
    </footer>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="~/Scripts/libs/bootstrap.min.js"></script>
        <script src="~/Scripts/libs/carousel-swipe.js"></script>
        <script src="~/Scripts/libs/bootstrap-datepicker.min.js"></script>
        <script src="~/Scripts/libs/bootstrap-datepicker.fr.min.js"></script>
        <script src="~/Scripts/libs/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/Scripts/libs/bootstrap-table.min.js"></script>
        <script src="~/Scripts/libs/bootstrap-table-fr-FR.min.js"></script>
        <script src="~/Scripts/libs/percircle.js"></script>
        <script src="~/Scripts/libs/typeahead.jquery.min.js"></script>
        <script src="~/Scripts/libs/select2.full.min.js"></script>
        <script src="~/Scripts/libs/fr.js"></script>
        <script src="~/Scripts/libs/on-off-switch.js"></script>
        <script src="~/Scripts/libs/on-off-switch-onload.js"></script>
        <script src="~/Scripts/libs/bootstrap-slider.min.js"></script>
        <script src="~/Scripts/app.js"></script>

        <script src="~/Scripts/site.js"></script>
        <script src="https://igniteui.com/js/modernizr.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
        <script src="~/Scripts/infragistics.core.js"></script>
        <script src="~/Scripts/infragistics.lob.js"></script>
        <script src="~/Scripts/infragistics.dv.js"></script>


        @RenderSection("scripts", required: false)
</body>
</html>